body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* HEADER OF WEBSITE */
header {
  padding: 0 30px;
  background-color: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* END OF HEADER OF WEBSITE*/



/* NAV BUTTONS */
.nav a {
  color: white;
  text-decoration: none;
  display: block;
}

.nav a:hover {
  color: #c5cae9;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav li {
  margin-left:20px;
}
/* END OF NAV BUTTONS */



/* COLOUR ONLY FOR SECTIONS (THE CONTENTS) */
section {
  background-color: #EEEAF1;
  padding: 35px 50px;
  display: flex;
  justify-content: center;
}
/* END OF COLOUR */



/* BIO/HOME PAGE */
.myBio img {
  height: 200px;
  padding: 0 75px;
}

.myBio p {
  line-height: 1.8;
  text-align: left;
  width: 400px;
}

section h1 {
  text-align: center;
  margin: 0;
  padding: 0 0 25px;
}

.container{
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
/* END OF BIO/HOME PAGE */



/* CONTENTS THAT NEED FLEX-BOX */
.startHeader{
  text-align: center;
  padding: 5px 30px;
  background-color: darkmagenta;
  color: white;
}

.startHeader p{
  text-align: center;
}

.boxitem1{
  background-color: whitesmoke;
  text-align: center;
  border: 2px solid lightgray;
  order: 1;
  margin: 10px 10px 20px 10px;
  height: auto;
  width: auto;
  padding: 0px 10px 20px 10px;
  line-height: 1.4;
}

.boxitem2{
  background-color: whitesmoke;
  text-align: center;
  border: 2px solid lightgray;
  order: 2;
  margin: 10px 10px 20px 10px;
  height: auto;
  padding: 0px 10px 20px 10px;
  width: auto;
  line-height: 1.4;
}

.boxitem3{
  background-color: whitesmoke;
  text-align: center;
  border: 2px solid lightgray;
  order: 3;
  margin: 10px 10px 20px 10px;
  height: auto;
  padding: 0px 10px 20px 10px;
  width: auto;
  line-height: 1.4;
}

.boxitem4{
  order: 4;
  margin: 10px 10px 20px 10px;
  height: auto;
  padding: 0px 10px 20px 10px;
  width: auto;
  line-height: 1.4;
}

h5{
  margin: 0;
  padding: 0;
  color: #4C4C4C;
}
/* END OF FLEX-BOX */



/* BUTTONS */
.learnMore{
  background-color: #EEEAF1;
  border: 1.5px solid lightgray;
  border-radius: 5px;
}

button:active{
  transform:scale(1,1);
}

.more{
  border-radius: 5px;
}
/* END OF BUTTONS */



/* EDUCATION JOURNEY PAGE */
.eduContainer{
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.exInfo{
  font-size: 12px;
}
/* END OF EDUCATION PAGE */



/* INTEREST PAGE */
.myImage{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.singleImg{
  padding: 0 20px 20px;
}

.intContainer p{
  padding: 0 20px 0 20px;
  width: auto;
  text-align: center;
}
/* END OF INTEREST PAGE */



/* CONTACT PAGE */
.contact p{
  text-align: left;
}
/* END OF CONTACT PAGE */



/* PROJECT PAGE */
.prjContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/* END OF PROJECT PAGE */



/* CERTIFICATION PAGE */
/* END OF CERTIFICATION PAGE*/



/* MEDIA */
@media (max-width: 576px) {
  body{
    font-size: 90%;
  }
  .container, .eduContainer, .prjContainer{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 90%;
  }
  .nav a {
    font-size: 80%;
  }

  ul{
    margin-left:20px;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 40px
  }
  
  header, nav ul{
    position: fixed;
    width: 100%;
  }
  .myBio p{
    width: 80%;
  }

  header i{
    padding: 0 30px 0 0;
  }

  #Education h2, #Project h2, .myBio{
    padding: 50px 0 0 0;
  }

  .nav {
    margin-right: 40px;
  }

  .sklContainer{
    align-items: center;
  }

  .sitem1, .sitem2 { 
    width:70%;
    height:70%;
  }
}
/* END OF MEDIA */


.startHeader p{
  text-align: end;
  font-size: 15px;
}

/* Skills Content */
.sklContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.sitem1{
  background-color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  order: 1;
  height: 225px;
  margin: 15px 30px;
  width: 225px;
  line-height: 1.4;
}
.sitem2{
  background-color: whitesmoke;
  text-align: center;
  border-radius: 10px;
  order: 1;
  height: 225px;
  margin: 15px 30px;
  width: 225px;
  line-height: 1.4;
}
/* End of Skill Content */

/* JAVASCRIPT ADD ON FORM */